<section
  class="grid p-10 pt-14 gap-10 grid-cols-1 lg:grid-cols-2 xl:grid-cols-2"
>
  <!-- <app-avg-marks-component /> -->
  <section class="flex flex-row gap-5">
    <button
      (click)="navigateToAddCourse()"
      class="bg-transparent hover:bg-white hover:text-black transition-all ease-in-out duration-300 border p-2 text-center w-32 h-11 rounded-xl"
    >
      Add Course
    </button>
    <button
      (click)="navigateToAddBatch()"
      class="bg-transparent hover:bg-white hover:text-black transition-all ease-in-out duration-300 border p-2 text-center w-32 h-11 rounded-xl"
    >
      Add Batch
    </button>
  </section>
  <div class="col-span-1 lg:col-span-2">
    <app-student-data-component />
  </div>
</section>
