<header
  class="flex bg-transparent absolute z-40 w-full justify-center items-center md:p-7"
>
  <nav
    class="flex px-0 p-4 h-14 w-full border-zinc-900 backdrop-blur border-2 rethink-sans flex-row text-primary-foreground md:max-w-5xl bg-[#121212] md:rounded-full justify-between items-center"
  >
    <div class="flex flex-row gap-2">
      <button
        *ngIf="!sidebarVisible"
        (click)="toggleSidebar()"
        class="pl-2 block sm:hidden"
      >
        <svg
          class="w-6 h-6 text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </button>
      <button
        *ngIf="sidebarVisible"
        (click)="toggleSidebar()"
        class="pl-2 flex justify-center items-center sm:hidden"
      >
        <i class="pi pi-times text-white"></i>
      </button>
      <a class="hover:cursor-pointer w-max" href="/">
        <div class="flex flex-row items-center justify-center">
          <img alt="" height="40" ngSrc="/logo.png" width="40" />
          <p class="font-bold !text-white text-2xl">MarkMaster</p>
        </div>
      </a>
    </div>

    <ul class="sm:flex hidden flex-row mr-6 gap-5 text-white font-bold">
      <li *ngFor="let nav of navOptions" class="relative one">
        <a href="{{ nav.href }}">
          <p>{{ nav.text }}</p>
          <span
            CLASS="absolute -bottom-1 left-0 w-0 transition-all h-px bg-secondary"
          ></span
        ></a>
      </li>
    </ul>
    <div
      class="relative overflow-hidden rounded-full dark:bg-zinc-900 bg-white shadow border dark:border-zinc-800 group border-zinc-400 p-0.5"
    >
      <span
        class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite_reverse] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#fff_0%,#09090B_7%)] bg-[conic-gradient(from_90deg_at_50%_50%,#000_0%,#fff_5%)] group-hover:bg-none"
      ></span>
      <button
        (click)="window.location.href = '/login'"
        [ngClass]="[
          'h-10',
          'px-8',
          'w-full',
          'rounded-full',
          'font-semibold',
          'text-zinc-800',
          'dark:text-zinc-200',
          'backdrop-blur-xl',
          'bg-zinc-50',
          'dark:bg-zinc-900',
        ]"
        class="text-lg hover:bg-secondary hover:text-secondary-foreground transition-all ease-in-out duration-300"
      >
        Login
      </button>
    </div>
  </nav>
</header>
<section
  (click)="toggleSidebar()"
  class="bg-black opacity-50 absolute z-30 w-full h-full"
  *ngIf="sidebarVisible"
></section>
<aside
  class="w-72 bg-main top-14 transition-all ease-in-out duration-300 absolute h-screen z-40"
  [ngClass]="{
    'translate-x-0': sidebarVisible,
    '-translate-x-full': !sidebarVisible,
  }"
>
  <ul class="flex flex-col gap-5 pt-2">
    <li
      *ngFor="let item of sidebarData"
      class="flex gap-8 pl-4 rounded-l-xl rounded-l-b-xl hover:bg-neutral-500 items-center p-2"
    >
      <a href="{{ item.href }}" class="flex gap-5 items-center">
        <i [ngClass]="item.icon" class="text-2xl"></i>
        {{ item.label }}
      </a>
    </li>
  </ul>
</aside>
