<header (click)="hideDropdown($event)" class="antialiased">
  <nav class="border-gray-200 px-4 lg:px-6 py-2.5 bg-main">
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex justify-start items-center">
        <button
          *ngIf="!sidebarVisible"
          (click)="toggleSidebar()"
          class="hidden p-2 mr-3 text-gray-600 rounded cursor-pointer lg:inline hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700"
          id="toggleSidebar"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="none"
            viewBox="0 0 16 12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 1h14M1 6h14M1 11h7"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
        </button>
        <button
          aria-controls="sidebar"
          *ngIf="sidebarVisible"
          aria-expanded="true"
          (click)="toggleSidebar()"
          class="hidden min-w-7 h-8 p-2 pt-1 mr-3 text-gray-600 rounded cursor-pointer lg:inline hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700"
          id="toggleSidebar"
        >
          <i class="pi pi-times text-white"></i>
        </button>
        <button
          (click)="toggleSidebar()"
          class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer lg:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <svg
            aria-hidden="true"
            class="w-[18px] h-[18px]"
            fill="none"
            viewBox="0 0 17 14"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 1h15M1 7h15M1 13h15"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="sr-only">Toggle sidebar</span>
        </button>
        <a class="flex mr-2 items-center" href="https://markmaster.com">
          <img alt="Logo" class="h-14" src="/logo.png" />
          <span
            class="self-center text-3xl font-bold whitespace-nowrap dark:text-white"
            >MarkMaster</span
          >
        </a>
        <form action="#" class="hidden lg:block lg:pl-2" method="GET">
          <label class="sr-only" for="topbar-search">Search</label>
          <div class="relative mt-1 lg:w-96">
            <div
              class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
            >
              <svg
                aria-hidden="true"
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                fill="none"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                />
              </svg>
            </div>
            <input
              class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-9 p-2.5 bg-main dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              id="topbar-search"
              name="email"
              placeholder="Search"
              type="text"
            />
          </div>
        </form>
      </div>
      <div class="flex relative items-center lg:order-2">
        <button
          aria-expanded="false"
          class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          data-dropdown-toggle="dropdown"
          id="user-menu-button"
          (click)="toggleDropdown()"
          type="button"
        >
          <span class="sr-only">Open user menu</span>
          <img
            alt="user photo"
            class="w-8 h-8 rounded-full"
            src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          />
        </button>
        <div
          class="absolute z-50 my-4 w-56 right-0 top-5 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-main dark:divide-gray-600"
          id="dropdown"
          [ngClass]="{ hidden: !dropdownVisible }"
        >
          <div class="py-3 px-4">
            <span
              class="block text-sm font-semibold text-gray-900 dark:text-white"
              >Neil sims</span
            >
            <span
              class="block text-sm text-gray-500 truncate dark:text-gray-400"
            ></span>
          </div>
          <ul
            aria-labelledby="dropdown"
            class="py-1 text-gray-500 dark:text-gray-400"
          >
            <li>
              <a
                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                href="#"
                >My profile</a
              >
            </li>
            <li>
              <a
                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                href="#"
                >Account settings</a
              >
            </li>
          </ul>
          <ul
            aria-labelledby="dropdown"
            class="py-1 text-gray-500 dark:text-gray-400"
          >
            <li>
              <a
                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                href="#"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<section
  (click)="toggleSidebar()"
  class="w-full h-full absolute z-30 bg-black opacity-50"
  [ngClass]="{
    'translate-x-0': sidebarVisible,
    '-translate-x-full': !sidebarVisible,
  }"
></section>
<aside
  class="w-72 bg-main transition-all absolute ease-in-out duration-300 h-screen z-40"
  [ngClass]="{
    'translate-x-0': sidebarVisible,
    '-translate-x-full': !sidebarVisible,
  }"
>
  <ul class="flex flex-col gap-5 pl-2 pt-10">
    <li
      *ngFor="let item of sidebarData"
      class="flex gap-8 pl-4 rounded-l-xl rounded-l-b-xl hover:bg-neutral-500 items-center p-2"
    >
      <a href="{{ item.href }}" class="flex gap-5 items-center">
        <i [ngClass]="item.icon" class="text-2xl"></i>
        {{ item.label }}
      </a>
    </li>
  </ul>
</aside>
