<p-table
  [value]="products"
  styleClass="rounded-xl border border h-full border-gray-800 bg-main border-gray-200 overflow-hidden"
  class="rounded-xl"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header" class="border-b p-3 text-center rounded-2xl">
    <tr class="bg-main p-2">
      <th>Name</th>
      <th>Roll Number</th>
      <th>Parent Phone Number</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr class="bg-main p-2">
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </ng-template>
</p-table>
