<section
  class="w-full border flex flex-col justify-between items-center border-gray-700 bg-main min-h-96 rounded-xl"
>
  <div
    class="w-full h-20 rounded-xl container mx-auto bg-main flex justify-between items-center"
  >
    <div class="flex flex-row justify-center items-center gap-4">
      <p>Average score</p>
      <p
        class="bg-white text-xl h-7 w-7 rounded-xl text-black text-center overflow-hidden"
      >
        !
      </p>
      <brn-select placeholder="Filter by course">
        <hlm-select-trigger class="w-56">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          <hlm-option
            *ngFor="let course of courses"
            value="{{ course.code }}"
            >{{ course.name }}</hlm-option
          >
        </hlm-select-content>
      </brn-select>
    </div>
    <button hlmBtn variant="outline">Details</button>
  </div>
  <brn-separator hlmSeparator class="bg-gray-600" />
  <div id="chart" class="h-full max-w-96 w-full">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
</section>
