<section
  class="w-full border flex flex-col justify-center items-center border-gray-700 bg-main h-96 rounded-xl"
>
  <div
    class="w-full h-20 rounded-xl container mx-auto bg-main flex justify-between items-center"
  >
    <div class="flex flex-row items-center gap-4">
      <p>Average score</p>
      <p
        class="bg-white text-xl h-7 w-7 rounded-xl text-black text-center overflow-hidden"
      >
        !
      </p>
    </div>
    <button hlmBtn variant="outline">Details</button>
  </div>
  <brn-separator hlmSeparator class="bg-gray-600" />
  <div id="chart" class="h-full max-w-96 w-full">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
</section>
