<section class="py-20 min-h-screen">
  <div class="mx-auto max-w-4xl bg-white shadow-lg rounded-lg p-8">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-6">
      Student Marks Dashboard
    </h2>

    <div class="my-4">
      <label
        for="studentSelect"
        class="block text-lg font-semibold text-gray-700"
        >Select Student:</label
      >
      <input
        type="text"
        [(ngModel)]="rollNumberFilter"
        placeholder="Filter by Roll Number"
        class="border border-gray-300 p-2 rounded-lg w-full mb-4"
      />
      <select
        id="studentSelect"
        [(ngModel)]="id"
        (ngModelChange)="fetchMarks(id)"
        class="border border-gray-300 p-2 rounded-lg w-full"
      >
        <option
          *ngFor="let student of students | filter: rollNumberFilter"
          [value]="student.id"
        >
          {{ student.firstName }} ({{ student.rollNo }})
        </option>
      </select>
    </div>

    <div *ngIf="id" class="mt-6">
      <h3 class="text-2xl font-bold text-gray-800 mb-4">
        Marks for {{ selectedStudent?.firstName }}
      </h3>
      <button
        (click)="navigateToAddMarks()"
        class="bg-blue-500 text-white py-2 px-4 rounded-lg mb-4"
      >
        Add Mark
      </button>
      <table
        class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md"
      >
        <thead>
          <tr class="bg-gray-200 text-gray-600">
            <th class="py-2 px-4 border-b">Exam</th>
            <th class="py-2 px-4 border-b">Mark</th>
            <th class="py-2 px-4 border-b">Course</th>
            <th class="py-2 px-4 border-b">Class Average</th>
            <th class="py-2 px-4 border-b">Class Highest</th>
            <th class="py-2 px-4 border-b">Class Lowest</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mark of marks" class="hover:bg-gray-100">
            <td class="py-2 px-4 text-center border-b text-black">
              {{ mark.exam.examName }}
            </td>
            <td class="py-2 px-4 text-center border-b text-black">
              {{ mark.mark }}
            </td>
            <td class="py-2 px-4 text-center border-b text-black">
              {{ mark.course.courseName }}
            </td>
            <td class="py-2 px-4 text-center border-b text-black">
              {{ getAverage(mark.exam.examName, mark.course.courseName) }}
            </td>
            <td class="py-2 px-4 text-center border-b text-black">
              {{ getHighest(mark.exam.examName, mark.course.courseName) }}
            </td>
            <td class="py-2 px-4 text-center border-b text-black">
              {{ getLowest(mark.exam.examName, mark.course.courseName) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
